<ul class="sg-colors">
		<li>
		<span class="sg-swatch uniworld-blue"></span>
		<span class="sg-label">
			$uniworld-blue <br />
			#00295b
		</span>
	</li>
	<li>
		<span class="sg-swatch uniworld-gray"></span>
		<span class="sg-label">
			$uniworld-gray <br />
			##b2b2b5
		</span>
	</li>
</ul>
