<ul class="sg-colors">
	<li>
		<span class="sg-swatch red-btn"></span>
		<span class="sg-label">
            $online-button-red <br />
            #b2becd
        </span>
	</li>
	<li>
		<span class="sg-swatch gray-btn"></span>
		<span class="sg-label">
            $online-button-gray<br />
            #3e4144
        </span>
	</li>
</ul>